In [1]:
import pickle
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import time
import seaborn as sns

In [191]:
# Import all the dataframes
mojog_df = pd.read_pickle('mojog_df.pkl')
#mojog_df1 = pd.read_pickle('mojog_df1.pkl')
youtube_df = pd.read_pickle('youtube_df.pkl')
omdb_df = pd.read_pickle('omdb_df.pkl')
director_df = pd.read_pickle('director_df.pkl')
actor_df = pd.read_pickle('actor_df.pkl')

In [192]:
#clean mojo df
mojog_df.opening = mojog_df.opening.replace("\$","", regex = True).replace(",","", regex = True).str.strip()
mojog_df.opening = pd.to_numeric(mojog_df.opening)
mojog_df.tot_gross = mojog_df.tot_gross.replace("\$","", regex = True).replace(",","", regex = True).str.strip()
mojog_df.tot_gross = pd.to_numeric(mojog_df.tot_gross)
mojog_df.theaters = mojog_df.theaters.replace(",","", regex = True).str.strip()
mojog_df.theaters = pd.to_numeric(mojog_df.theaters)
mojog_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 9 columns):
movie_name    500 non-null object
movie         500 non-null object
opening       500 non-null int64
date_time     500 non-null datetime64[ns]
theaters      500 non-null int64
tot_gross     500 non-null int64
actors        458 non-null object
directors     460 non-null object
gtrend        500 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 39.1+ KB

In [193]:
# Clean youtube df 
# select youtube df relevant data
youtube_df = youtube_df[["movie_name", "viewCount", "commentCount", "dislikeCount", "likeCount"]]

#replace nulls with 0
youtube_df = youtube_df.fillna(0)
# convert numeric str values to int
youtube_df.viewCount = pd.to_numeric(youtube_df.viewCount)
youtube_df.dislikeCount = pd.to_numeric(youtube_df.dislikeCount)
youtube_df.commentCount = pd.to_numeric(youtube_df.commentCount)
youtube_df.likeCount = pd.to_numeric(youtube_df.likeCount)
youtube_df = youtube_df.rename(columns ={"viewCount":"Yviews", "commentCount": "Ycomments", 
                                         "dislikeCount": "Ydislikes", "likeCount":"Ylikes"})
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
movie_name    500 non-null object
Yviews        500 non-null int64
Ycomments     500 non-null int64
Ydislikes     500 non-null int64
Ylikes        500 non-null int64
dtypes: int64(4), object(1)
memory usage: 19.6+ KB

In [194]:
# Clean omdb data
omdb_df.imdb = pd.to_numeric(omdb_df.imdb.replace("/10","", regex = True).str.strip())
omdb_df.metacritic = pd.to_numeric(omdb_df.metacritic.replace("/100","", regex = True).str.strip())
omdb_df.rotten_tomatoes = pd.to_numeric(omdb_df.rotten_tomatoes.replace("%","", regex = True).str.strip())
omdb_df.runtime = pd.to_numeric(omdb_df.runtime.replace("min","", regex = True).str.strip())
omdb_df.year = pd.to_numeric(omdb_df.year)
# Remove 11 movies that have been wrongly identified on omdb (wrong year)
year = [2013,2014,2015,2016,2017]
omdb_df = omdb_df[omdb_df.year.isin(year)]
omdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 0 to 479
Data columns (total 7 columns):
imdb               469 non-null float64
metacritic         469 non-null int64
movie              469 non-null object
rated              469 non-null object
rotten_tomatoes    469 non-null int64
runtime            469 non-null int64
year               469 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 29.3+ KB

In [195]:
# Clean directors data
# Convert str to numeric
director_df.dir_agross = pd.to_numeric(director_df.dir_agross.replace("\$","", regex = True).str.strip())
director_df.dir_gross = pd.to_numeric(director_df.dir_gross.replace("\$","", regex = True)
                                      .replace(",","", regex = True).str.strip())
director_df.dir_nmovies = pd.to_numeric(director_df.dir_nmovies)
director_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
dir_agross     500 non-null float64
dir_gross      500 non-null float64
dir_nmovies    500 non-null int64
director       500 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 15.7+ KB

In [196]:
# Clean directors data
# Convert str to numeric
actor_df.act_agross = pd.to_numeric(actor_df.act_agross.replace("\$", "", regex = True)
                                    .replace(",", "", regex = True).str.strip())
actor_df.act_gross = pd.to_numeric(actor_df.act_gross.replace("\$", "", regex = True)
                                      .replace(",", "", regex = True).str.strip())
actor_df.act_nmovies = pd.to_numeric(actor_df.act_nmovies)
actor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
act_agross     500 non-null float64
act_gross      500 non-null float64
act_nmovies    500 non-null int64
actor          500 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 15.7+ KB

In [197]:
actor_df.head()

   act_agross  act_gross  act_nmovies              actor
0        70.5     5149.1           73  Samuel L. Jackson
1       118.2     4963.8           42      Harrison Ford
2        96.0     4605.6           48          Tom Hanks
3        71.8     4522.2           63     Morgan Freeman
4       166.7     4333.5           26        Andy Serkis

In [198]:
# # Split actor & director strings into lists
# # for index in range(len(omdb_df)):
# #     omdb_df.actors[index] = [x.strip() for x in omdb_df.actors[index].split(',')]
# omdb_df.actors = omdb_df.actors.apply(lambda x :[x.strip() for x in x.split(',')])    
# omdb_df.director = omdb_df.director.apply(lambda x :[x.strip() for x in x.split(',')])
# omdb_df.head()

In [100]:
act_list

[{'act_gross': 56   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 56   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Hunger Games: Catching Fire'},
 {'act_gross': 5   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 5   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Iron Man 3'},
 {'act_gross': 339   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 339   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Frozen'},
 {'act_gross': 29   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 29   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Despicable Me 2'},
 {'act_gross': 316   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 316   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Man of Steel'},
 {'act_gross': 64   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 64   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Gravity'},
 {'act_gross': 245   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 245   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Monsters University'},
 {'act_gross': 12   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 12   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Hobbit: The Desolation of Smaug'},
 {'act_gross': 39   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 39   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Fast & Furious 6'},
 {'act_gross': 79   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 79   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Oz The Great and Powerful'},
 {'act_gross': 135   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 135   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Star Trek Into Darkness'},
 {'act_gross': 74   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 74   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Thor: The Dark World'},
 {'act_gross': 45    181.406667
  Name: act_gross, dtype: float64, 'act_nmovies': 45    2.8
  Name: act_nmovies, dtype: float64, 'movie': 'World War Z'},
 {'act_gross': 69   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 69   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Croods'},
 {'act_gross': 64   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 64   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Heat'},
 {'act_gross': 179   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 179   NaN
  Name: act_nmovies, dtype: float64, 'movie': "We're the Millers"},
 {'act_gross': 83   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 83   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'American Hustle'},
 {'act_gross': 0.0, 'act_nmovies': 0.0, 'movie': 'The Great Gatsby'},
 {'act_gross': 409   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 409   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Conjuring'},
 {'act_gross': 120   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 120   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Identity Thief'},
 {'act_gross': 48   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 48   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Grown Ups 2'},
 {'act_gross': 47    192.057143
  Name: act_gross, dtype: float64, 'act_nmovies': 47    1.928571
  Name: act_nmovies, dtype: float64, 'movie': 'The Wolverine'},
 {'act_gross': 78   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 78   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Anchorman 2: The Legend Continues'},
 {'act_gross': 34   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 34   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Lone Survivor'},
 {'act_gross': 16   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 16   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'G.I. Joe: Retaliation'},
 {'act_gross': 213    168.5
  Name: act_gross, dtype: float64, 'act_nmovies': 213    2.444444
  Name: act_nmovies, dtype: float64, 'movie': 'Cloudy with a Chance of Meatballs 2'},
 {'act_gross': 271   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 271   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Now You See Me'},
 {'act_gross': 58   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 58   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Wolf of Wall Street'},
 {'act_gross': 42    214.523077
  Name: act_gross, dtype: float64, 'act_nmovies': 42    4.307692
  Name: act_nmovies, dtype: float64, 'movie': "Lee Daniels' The Butler"},
 {'act_gross': 30   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 30   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Hangover Part III'},
 {'act_gross': 0.0, 'act_nmovies': 0.0, 'movie': 'Epic'},
 {'act_gross': 2    270.917647
  Name: act_gross, dtype: float64, 'act_nmovies': 2    2.823529
  Name: act_nmovies, dtype: float64, 'movie': 'Captain Phillips'},
 {'act_gross': 26    250.791667
  Name: act_gross, dtype: float64, 'act_nmovies': 26    2.583333
  Name: act_nmovies, dtype: float64, 'movie': 'Pacific Rim'},
 {'act_gross': 79   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 79   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'This is the End'},
 {'act_gross': 227   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 227   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Olympus Has Fallen'},
 {'act_gross': 261   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 261   NaN
  Name: act_nmovies, dtype: float64, 'movie': '42'},
 {'act_gross': 21   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 21   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Elysium'},
 {'act_gross': 0.0, 'act_nmovies': 0.0, 'movie': 'Planes'},
 {'act_gross': 11   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 11   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Lone Ranger'},
 {'act_gross': 8   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 8   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Oblivion'},
 {'act_gross': 422   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 422   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Insidious Chapter 2'},
 {'act_gross': 196   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 196   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Saving Mr. Banks'},
 {'act_gross': 157   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 157   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Turbo'},
 {'act_gross': 70   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 70   NaN
  Name: act_nmovies, dtype: float64, 'movie': '2 Guns'},
 {'act_gross': 108   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 108   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'White House Down'},
 {'act_gross': 281    79.333333
  Name: act_gross, dtype: float64, 'act_nmovies': 281    1.333333
  Name: act_nmovies, dtype: float64, 'movie': 'Mama'},
 {'act_gross': 0.0, 'act_nmovies': 0.0, 'movie': 'Safe Haven'},
 {'act_gross': 403   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 403   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Smurfs 2'},
 {'act_gross': 481    72.044444
  Name: act_gross, dtype: float64, 'act_nmovies': 481    1.666667
  Name: act_nmovies, dtype: float64, 'movie': 'The Best Man Holiday'},
 {'act_gross': 0.0,
  'act_nmovies': 0.0,
  'movie': 'Percy Jackson: Sea of Monsters'},
 {'act_gross': 18   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 18   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'A Good Day to Die Hard'},
 {'act_gross': 389    88.76
  Name: act_gross, dtype: float64, 'act_nmovies': 389    1.4
  Name: act_nmovies, dtype: float64, 'movie': 'Warm Bodies'},
 {'act_gross': 389   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 389   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Jack the Giant Slayer'},
 {'act_gross': 404    69.233333
  Name: act_gross, dtype: float64, 'act_nmovies': 404    3.916667
  Name: act_nmovies, dtype: float64, 'movie': 'The Purge'},
 {'act_gross': 152   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 152   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Last Vegas'},
 {'act_gross': 1   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 1   NaN
  Name: act_nmovies, dtype: float64, 'movie': "Ender's Game"},
 {'act_gross': 47   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 47   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Prisoners'},
 {'act_gross': 20    320.5
  Name: act_gross, dtype: float64, 'act_nmovies': 20    2.5
  Name: act_nmovies, dtype: float64, 'movie': 'After Earth'},
 {'act_gross': 37   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 37   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Secret Life of Walter Mitty'},
 {'act_gross': 313   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 313   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Escape From Planet Earth'},
 {'act_gross': 292    129.488889
  Name: act_gross, dtype: float64, 'act_nmovies': 292    2.222222
  Name: act_nmovies, dtype: float64, 'movie': '12 Years a Slave'},
 {'act_gross': 31   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 31   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Free Birds'},
 {'act_gross': 0.0, 'act_nmovies': 0.0, 'movie': 'Evil Dead'},
 {'act_gross': 18   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 18   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Red 2'},
 {'act_gross': 117   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 117   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Call'},
 {'act_gross': 396    48.2
  Name: act_gross, dtype: float64, 'act_nmovies': 396    2.166667
  Name: act_nmovies, dtype: float64, 'movie': 'Gangster Squad'},
 {'act_gross': 149   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 149   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'The Internship'},
 {'act_gross': 0.0, 'act_nmovies': 0.0, 'movie': 'Instructions Not Included'},
 {'act_gross': 16   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 16   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Snitch'},
 {'act_gross': 39    216.461538
  Name: act_gross, dtype: float64, 'act_nmovies': 39    1.692308
  Name: act_nmovies, dtype: float64, 'movie': 'Riddick'},
 {'act_gross': 430    58.892308
  Name: act_gross, dtype: float64, 'act_nmovies': 430    1.307692
  Name: act_nmovies, dtype: float64, 'movie': 'A Haunted House'},
 {'act_gross': 121    150.723077
  Name: act_gross, dtype: float64, 'act_nmovies': 121    3.538462
  Name: act_nmovies, dtype: float64, 'movie': '47 Ronin'},
 {'act_gross': 97   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 97   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'August: Osage County'},
 {'act_gross': 122   NaN
  Name: act_gross, dtype: float64, 'act_nmovies': 122   NaN
  Name: act_nmovies, dtype: float64, 'movie': 'Philomena'},
 {'act_gross': 199    172.422222
  Name: act_gross, dtype: float64, 'act_nmovies': 199    4.333333
  Name: act_nmovies, dtype: float64, 'movie': 'The Family'}]

In [82]:
actor_df.sort_values(by="act_gross",ascending=False).head(5)
#actor_df[actor_df.actor == 'Samuel L. Jackson'].empty

   act_agross  act_gross  act_nmovies              actor
0        70.5     5149.1           73  Samuel L. Jackson
1       118.2     4963.8           42      Harrison Ford
2        96.0     4605.6           48          Tom Hanks
3        71.8     4522.2           63     Morgan Freeman
4       166.7     4333.5           26        Andy Serkis

# Merge the dataframes

In [200]:
# Merge mojo and youtube
merged = pd.DataFrame.merge(mojog_df, youtube_df,on='movie_name', how = 'inner')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 13 columns):
movie_name    500 non-null object
movie         500 non-null object
opening       500 non-null int64
date_time     500 non-null datetime64[ns]
theaters      500 non-null int64
tot_gross     500 non-null int64
actors        458 non-null object
directors     460 non-null object
gtrend        500 non-null float64
Yviews        500 non-null int64
Ycomments     500 non-null int64
Ydislikes     500 non-null int64
Ylikes        500 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(4)
memory usage: 54.7+ KB

In [201]:
# Merge omdb
merged2 = pd.DataFrame.merge(merged,omdb_df,on="movie",how="inner")
merged2.head()

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors,gtrend,Yviews,Ycomments,Ydislikes,Ylikes,imdb,metacritic,rated,rotten_tomatoes,runtime,year
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,158074286,2013-11-22,4163,424668047,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],0.479,12389287,9493,1385,52030,7.5,76,PG-13,89,146,2013
1,Iron Man 3,Iron Man 3,174144585,2013-05-03,4253,409013994,"[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black],0.831,1274074,1643,259,7201,7.2,62,PG-13,80,130,2013
2,Frozen,Frozen,243390,2013-11-22,1,400738009,"[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]",0.122,34267342,7458,8664,54157,7.5,74,PG,90,102,2013
3,Despicable Me 2,Despicable Me 2,83517315,2013-07-03,3997,368061265,"[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]",0.771,7725854,2146,1733,17764,7.4,62,PG,74,98,2013
4,Man of Steel,Man of Steel,116619362,2013-06-14,4207,291045518,"[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder],0.755,42683390,66568,6511,155344,7.1,55,PG-13,55,143,2013

In [202]:
# Adjust the youtube views based on google trends data
merged2["Yviews_adj"] = round(merged2.Yviews * merged2.gtrend)
merged2["Ylikes_adj"] = round(merged2.Ylikes * merged2.gtrend)
merged2["Ydis_adj"] = round(merged2.Ydislikes * merged2.gtrend)
merged2["Ycom_adj"] = round(merged2.Ycomments * merged2.gtrend)
#merged2["Yviews_adj2"] = round(merged2.Yviews * merged2.gtrend)
merged2 = merged2.drop(["gtrend","Yviews","Ycomments","Ylikes","Ydislikes"],1)
#merged2 = merged2.drop(["gtrend","gtrend2"],1)
merged2

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors,imdb,metacritic,rated,rotten_tomatoes,runtime,year,Yviews_adj,Ylikes_adj,Ydis_adj,Ycom_adj
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,158074286,2013-11-22,4163,424668047,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],7.5,76,PG-13,89,146,2013,5934468.0,24922.0,663.0,4547.0
1,Iron Man 3,Iron Man 3,174144585,2013-05-03,4253,409013994,"[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black],7.2,62,PG-13,80,130,2013,1058755.0,5984.0,215.0,1365.0
2,Frozen,Frozen,243390,2013-11-22,1,400738009,"[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]",7.5,74,PG,90,102,2013,4180616.0,6607.0,1057.0,910.0
3,Despicable Me 2,Despicable Me 2,83517315,2013-07-03,3997,368061265,"[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]",7.4,62,PG,74,98,2013,5956633.0,13696.0,1336.0,1655.0
4,Man of Steel,Man of Steel,116619362,2013-06-14,4207,291045518,"[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder],7.1,55,PG-13,55,143,2013,32225959.0,117285.0,4916.0,50259.0
5,Gravity,Gravity,55785112,2013-10-04,3575,274092705,"[George Clooney, Sandra Bullock]",[Alfonso Cuaron],7.8,96,PG-13,96,91,2013,4011085.0,8327.0,938.0,3346.0
6,Monsters University,Monsters University,82429469,2013-06-21,4004,268492764,"[Billy Crystal, John Goodman, Helen Mirren, Al...",[Dan Scanlon],7.3,65,G,79,104,2013,1988003.0,5258.0,409.0,760.0
7,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,73645197,2013-12-13,3903,258366855,"[Martin Freeman, Ian McKellen, Orlando Bloom, ...",[Peter Jackson],7.9,66,PG-13,74,161,2013,7429525.0,32111.0,858.0,8989.0
8,Fast & Furious 6,Fast & Furious 6,97375245,2013-05-24,3658,238679850,"[Gal Gadot, Vin Diesel, Paul Walker, Dwayne Jo...",[Justin Lin],7.1,61,PG-13,69,130,2013,19132497.0,57019.0,2466.0,12304.0
9,Oz The Great and Powerful,Oz The Great and Powerful,79110453,2013-03-08,3912,234911825,"[Tony Cox, James Franco, Mila Kunis, Michelle ...",[Sam Raimi],6.3,44,PG,59,130,2013,972689.0,2613.0,120.0,597.0
10,Star Trek Into Darkness,Star Trek Into Darkness,70165559,2013-05-16,3868,228778661,"[Leonard Nimoy*, Chris Pine, Zoe Saldana, Karl...",[J.J. Abrams],7.8,72,PG-13,86,132,2013,5257235.0,11937.0,582.0,4351.0
11,Thor: The Dark World,Thor: The Dark World,85737841,2013-11-08,3841,206362140,"[Chris Hemsworth, Natalie Portman, Tom Hiddles...",[Alan Taylor],7.0,54,PG-13,66,112,2013,9449936.0,34469.0,1315.0,6223.0
12,World War Z,World War Z,66411834,2013-06-21,3607,202359711,"[Brad Pitt, Mireille Enos]",[Marc Forster],7.0,63,PG-13,66,116,2013,7416587.0,21098.0,1352.0,7923.0
13,The Croods,The Croods,43639736,2013-03-22,4046,187168425,"[Nicolas Cage, Emma Stone, Ryan Reynolds, Clar...","[Kirk De Micco, Chris Sanders]",7.2,55,PG,72,98,2013,25356.0,126.0,8.0,25.0
14,The Heat,The Heat,39115043,2013-06-28,3181,159582188,"[Sandra Bullock, Melissa McCarthy]",[Paul Feig],6.6,60,R,65,117,2013,481818.0,912.0,65.0,81.0
15,We're the Millers,We're the Millers,26419396,2013-08-07,3260,150394119,"[Jason Sudeikis, Jennifer Aniston, Ed Helms, E...",[Rawson Marshall Thurber],7.0,44,R,47,110,2013,6817109.0,15215.0,814.0,2215.0
16,American Hustle,American Hustle,740455,2013-12-13,6,150117807,"[Christian Bale, Bradley Cooper, Amy Adams, Je...",[David O. Russell],7.3,90,R,93,138,2013,1361908.0,1631.0,141.0,397.0
17,The Great Gatsby (2013),The Great Gatsby,50085185,2013-05-10,3535,144840419,"[Elizabeth Debicki, Leonardo DiCaprio, Tobey M...",[Baz Luhrmann],7.3,55,PG-13,49,143,2013,911333.0,2502.0,152.0,675.0
18,The Conjuring,The Conjuring,41855326,2013-07-19,2903,137400141,"[Vera Farmiga, Patrick Wilson, Ron Livingston,...",[James Wan],7.5,68,R,86,112,2013,1682700.0,3261.0,248.0,870.0
19,Identity Thief,Identity Thief,34551025,2013-02-08,3141,134506920,"[Jason Bateman, Melissa McCarthy, Jon Favreau,...",[Seth Gordon],5.7,35,R,19,111,2013,1181736.0,2723.0,134.0,277.0
20,Grown Ups 2,Grown Ups 2,41508572,2013-07-12,3491,133668525,"[Adam Sandler, Kevin James, Chris Rock, David ...",[Dennis Dugan],5.4,19,PG-13,7,101,2013,2261684.0,7866.0,593.0,1429.0
21,The Wolverine,The Wolverine,53113752,2013-07-26,3924,132556852,"[Hugh Jackman, Famke Janssen*]",[James Mangold],6.7,60,PG-13,69,126,2013,607543.0,2014.0,86.0,363.0
22,Anchorman 2: The Legend Continues,Anchorman 2: The Legend Continues,26232425,2013-12-18,3507,125168368,"[Will Ferrell, Paul Rudd, Steve Carell, Kriste...",[Adam McKay],6.3,61,PG-13,75,119,2013,126430.0,544.0,28.0,50.0
23,Lone Survivor,Lone Survivor,90872,2013-12-25,2,125095601,"[Mark Wahlberg, Taylor Kitsch, Eric Bana, Ben ...",[Peter Berg],7.5,60,R,76,121,2013,3503601.0,7905.0,662.0,2669.0
24,G.I. Joe: Retaliation,G.I. Joe: Retaliation,40501814,2013-03-28,3719,122523060,"[Dwayne Johnson, Channing Tatum, Bruce Willis,...",[Jon Chu],5.8,41,PG-13,28,110,2013,10652932.0,15513.0,762.0,4293.0
25,Cloudy with a Chance of Meatballs 2,Cloudy with a Chance of Meatballs 2,34017930,2013-09-27,4001,119793567,"[Anna Faris, Will Forte*, Andy Samberg*, Benja...",NaN,6.4,59,PG,71,95,2013,292007.0,363.0,37.0,53.0
26,Now You See Me,Now You See Me,29350389,2013-05-31,2925,117723989,"[Jesse Eisenberg, Isla Fisher, Morgan Freeman,...",[Louis Leterrier],7.3,50,PG-13,50,115,2013,506055.0,1352.0,44.0,133.0
27,The Wolf of Wall Street,The Wolf of Wall Street,18361578,2013-12-25,2537,116900694,"[Leonardo DiCaprio, Jonah Hill, Matthew McCona...",[Martin Scorsese],8.2,75,R,78,180,2013,4767292.0,14106.0,640.0,2653.0
28,Lee Daniels' The Butler,Lee Daniels' The Butler,24637312,2013-08-16,2933,116632095,"[Forest Whitaker, Oprah Winfrey, John Cusack, ...",[Lee Daniels],7.2,66,PG-13,72,132,2013,327802.0,672.0,72.0,376.0
29,The Hangover Part III,The Hangover Part III,41671198,2013-05-23,3555,112200072,"[Bradley Cooper, Ed Helms, Zach Galifianakis, ...",[Todd Phillips],5.9,30,R,21,100,2013,8948534.0,23154.0,1167.0,4378.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,Jigsaw,Jigsaw,16640452,2017-10-27,2941,38052832,NaN,[],5.8,39,R,34,92,2017,7230168.0,33798.0,2305.0,5064.0
440,American Assassin,American Assassin,14846778,2017-09-15,3154,36249674,"[Michael Keaton, Taylor Kitsch, Sanaa Lathan]",[Michael Cuesta],6.2,45,R,34,112,2017,654530.0,1664.0,75.0,123.0
441,The Foreigner,The Foreigner,13113024,2017-10-13,2515,34393507,"[Jackie Chan, Pierce Brosnan]",[Martin Campbell],7.0,55,R,62,113,2017,3194034.0,26677.0,489.0,2919.0
442,"Everything, Everything","Everything, Everything",11727390,2017-05-19,2801,34121140,NaN,NaN,6.4,52,PG-13,46,96,2017,34496.0,347.0,6.0,39.0
443,Wind River,Wind River,161558,2017-08-04,4,33800859,"[Jeremy Renner, Elizabeth Olsen]",[],7.8,73,R,87,107,2017,205759.0,377.0,27.0,59.0
444,Geostorm,Geostorm,13707376,2017-10-20,3246,33700160,NaN,[Dean Devlin],5.4,21,PG-13,13,109,2017,4240337.0,11929.0,1824.0,1842.0
445,Monster Trucks,Monster Trucks,10950705,2017-01-13,3119,33370166,"[Rob Lowe, Danny Glover, Amy Ryan]",[Chris Wedge],5.7,41,PG,30,104,2016,1493626.0,7169.0,1084.0,1027.0
446,Fist Fight,Fist Fight,12201873,2017-02-17,3185,32187017,"[Ice Cube, Charlie Day, Tracy Morgan, Dean Nor...",[],5.6,37,R,26,91,2017,923544.0,2229.0,162.0,180.0
447,How to be a Latin Lover,How to be a Latin Lover,12252439,2017-04-28,1118,32149404,"[Eugenio Derbez, Salma Hayek, Rob Lowe, Kriste...",[],5.9,54,PG-13,38,115,2017,1301274.0,690.0,62.0,92.0
448,Kidnap (2017),Kidnap,10016323,2017-08-04,2378,30718107,NaN,NaN,5.9,44,R,37,95,2017,3549060.0,11406.0,636.0,1891.0
449,Underworld: Blood Wars,Underworld: Blood Wars,13688751,2017-01-06,3070,30353973,"[Kate Beckinsale, Theo James]",[],5.8,23,R,20,91,2016,3210686.0,6550.0,380.0,898.0
450,The Mountain Between Us,The Mountain Between Us,10551336,2017-10-06,3088,30348555,"[Idris Elba, Kate Winslet]",NaN,6.4,48,PG-13,40,112,2017,2067040.0,2474.0,179.0,268.0
451,Life (2017),Life,12501936,2017-03-24,3146,30234022,"[Rebecca Ferguson, Jake Gyllenhaal, Ryan Reyno...",[Daniel Espinosa],6.6,54,R,67,104,2017,1513546.0,4998.0,282.0,1109.0
452,"I, Tonya","I, Tonya",264155,2017-12-08,4,30014539,"[Margot Robbie, Allison Janney, Sebastian Stan]",[Craig Gillespie],7.6,77,R,90,120,2017,11467.0,67.0,1.0,5.0
453,Hostiles,Hostiles,22849,2017-12-22,3,29814750,"[Christian Bale, Rosamund Pike, Ben Foster]",[Scott Cooper],7.3,65,R,73,134,2017,352143.0,1113.0,75.0,233.0
454,Molly's Game,Molly's Game,2349967,2017-12-25,271,28780744,"[Jessica Chastain, Idris Elba, Kevin Costner, ...",[Aaron Sorkin],7.5,71,R,82,140,2017,1717649.0,3048.0,341.0,344.0
455,The Nut Job 2: Nutty by Nature,The Nut Job 2: Nutty by Nature,8342311,2017-08-11,4003,28370522,"[Katherine Heigl, Jackie Chan]",[Cal Brunker],5.3,36,PG,13,91,2017,562401.0,2342.0,187.0,200.0
456,Rings,Rings,13002632,2017-02-03,2931,27793018,NaN,[],4.5,25,PG-13,7,102,2017,877123.0,2248.0,283.0,212.0
457,Logan Lucky,Logan Lucky,7600036,2017-08-18,3031,27780977,"[Daniel Craig, Channing Tatum, Katherine Water...",[Steven Soderbergh],7.1,78,PG-13,93,118,2017,2271530.0,5947.0,805.0,502.0
458,Home Again,Home Again,8567881,2017-09-08,2940,27020284,"[Reese Witherspoon, Michael Sheen, Lake Bell]",NaN,5.7,41,PG-13,32,97,2017,989506.0,407.0,68.0,64.0
459,Resident Evil: The Final Chapter,Resident Evil: The Final Chapter,13601682,2017-01-27,3104,26830068,NaN,[Paul W.S. Anderson],5.6,49,R,36,107,2016,5779838.0,21802.0,1658.0,2211.0
460,The House,The House,8724795,2017-06-30,3134,25584504,[Will Ferrell],[Andrew J. Cohen],5.6,30,R,18,88,2017,912566.0,4948.0,467.0,342.0
461,All the Money in the World,All the Money in the World,5584684,2017-12-25,2074,25113707,"[Michelle Williams, Christopher Plummer, Mark ...",[Ridley Scott],7.0,72,R,78,132,2017,1685355.0,5160.0,682.0,665.0
462,Gifted,Gifted,446380,2017-04-07,56,24801212,"[Chris Evans, Octavia Spencer]",[Marc Webb],7.6,60,PG-13,73,101,2017,1122457.0,9245.0,153.0,501.0
463,Downsizing,Downsizing,4954287,2017-12-22,2668,24449754,"[Matt Damon, Kristen Wiig, Neil Patrick Harris...",[Alexander Payne],5.7,63,R,51,135,2017,4223989.0,11159.0,940.0,1992.0
464,The Bye Bye Man,The Bye Bye Man,13501349,2017-01-13,2220,22395806,"[Carrie-Anne Moss, Leigh Whannell]",[],4.3,37,PG-13,23,97,2017,1643234.0,2548.0,396.0,798.0
465,Rough Night,Rough Night,8004283,2017-06-16,3162,22105643,[Scarlett Johansson],NaN,5.2,51,R,45,101,2017,2157913.0,9234.0,5963.0,2142.0
466,My Little Pony: The Movie,My Little Pony: The Movie,8885899,2017-10-06,2528,21885107,[Emily Blunt],[],6.2,39,PG,47,99,2017,2921033.0,21939.0,1928.0,5197.0
467,Leap!,Leap!,4730038,2017-08-25,2575,21858070,[Elle Fanning],NaN,6.8,48,PG,37,89,2016,1562299.0,7963.0,530.0,1054.0
468,The Disaster Artist,The Disaster Artist,1211345,2017-12-01,19,21120616,"[James Franco, Seth Rogen, Dave Franco, Josh H...",[James Franco],7.6,76,R,91,104,2017,2802592.0,25362.0,601.0,1922.0

In [203]:
# First create a dataframe for year and corresponding movie ticket
year = [2013,2014,2015,2016,2017]
tick = [8.13,8.17,8.43,8.65,8.97]
adjuster = pd.DataFrame({"year":year,"tick":tick})
# Assign ticket price adjuster column to omdb through merge
merged2 = pd.merge(merged2,adjuster,on="year",how="inner")

# Create new column for merged
est_tick = (merged2.opening // merged2.tick).astype("int64")
merged2.insert(loc=3, column='est_tick', value=est_tick)
merged2 = merged2.rename(columns={"opening":"op_gross"})

In [227]:
merged2 = merged2.fillna(0)

In [229]:
merged2.head()

,movie_name,movie,op_gross,est_tick,date_time,theaters,tot_gross,actors,directors,imdb,metacritic,rated,rotten_tomatoes,runtime,year,Yviews_adj,Ylikes_adj,Ydis_adj,Ycom_adj,tick
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,158074286,19443331,2013-11-22,4163,424668047,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],7.5,76,PG-13,89,146,2013,5934468.0,24922.0,663.0,4547.0,8.13
1,Iron Man 3,Iron Man 3,174144585,21419998,2013-05-03,4253,409013994,"[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black],7.2,62,PG-13,80,130,2013,1058755.0,5984.0,215.0,1365.0,8.13
2,Frozen,Frozen,243390,29937,2013-11-22,1,400738009,"[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]",7.5,74,PG,90,102,2013,4180616.0,6607.0,1057.0,910.0,8.13
3,Despicable Me 2,Despicable Me 2,83517315,10272732,2013-07-03,3997,368061265,"[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]",7.4,62,PG,74,98,2013,5956633.0,13696.0,1336.0,1655.0,8.13
4,Man of Steel,Man of Steel,116619362,14344324,2013-06-14,4207,291045518,"[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder],7.1,55,PG-13,55,143,2013,32225959.0,117285.0,4916.0,50259.0,8.13

# Generate a metric for actor and directors

In [235]:
# import numpy as np

# # Calculate the average # movies the actors featured in, as well as their average total gross

# act_list = []
# for i in range(len(merged2)):
#     #for each of the actors in a given movie, sum up their total gross & movies
#     act_gross = 0
#     act_nmovies = 0
#     if (merged2.actors[i] == 0) or (merged2.actors[i] == []):
#         pass
#     else:
#         actor_count = len(merged2.actors[i])
#         for actoriter in merged2.actors[i]:
#             if actor_df[actor_df.actor == actoriter].empty:
#                 actor_count -= 1
#             #Subtract the movie total gross (movie i want to predict) from actor total gross
#             else:
#                 act_gross += actor_df[actor_df.actor == actoriter].act_gross.iloc[0] - \
#                 merged2.tot_gross[i]/(1e6)
#                 act_nmovies += actor_df[actor_df.actor == actoriter].act_nmovies.iloc[0]
#     #take the sum and average over number of actors featured
#     if actor_count <= 0:
#         act_gross, act_nmovies = 0, 0
#     else:
#         act_gross = round((act_gross/actor_count),1)
#         act_nmovies = round((act_nmovies/actor_count),1)
#     act_dict = {'movie': merged2.movie[i], 'act_gross':act_gross, 
#                 'act_nmovies': act_nmovies}
#     act_list.append(act_dict)
# actor_metric = pd.DataFrame(act_list)

In [245]:
import numpy as np

# Calculate the average # movies the actors featured in, as well as their average total gross

act_list = []
for i in range(len(merged2)):
    #for each of the actors in a given movie, sum up their total gross & movies
    gross_list = []
    nmovies_list = []
    if (merged2.actors[i] == 0) or (merged2.actors[i] == []):
        act_gross, act_nmovies = 0, 0
    else:
        actor_count = len(merged2.actors[i])
        for actoriter in merged2.actors[i]:
            if actor_df[actor_df.actor == actoriter].empty:
                actor_count -= 1
            #Subtract the movie total gross (movie i want to predict) from actor total gross
            else:
                gross_list.append(actor_df[actor_df.actor == actoriter].act_gross.iloc[0] - \
                merged2.tot_gross[i]/(1e6))
                nmovies_list.append(actor_df[actor_df.actor == actoriter].act_nmovies.iloc[0])
    #take the sum and average over number of actors featured
    if (actor_count <= 0) or (merged2.actors[i] == []) or (merged2.actors[i] == 0):
        act_gross, act_nmovies = 0, 0
    else:
        act_gross = round(max(gross_list),1)
        act_nmovies = round(max(nmovies_list),1)
    act_dict = {'movie': merged2.movie[i], 'act_gross':act_gross, 
                'act_nmovies': act_nmovies}
    act_list.append(act_dict)
actor_metric = pd.DataFrame(act_list)

In [247]:
actor_metric.head()

   act_gross  act_nmovies                            movie
0     3333.4           56  The Hunger Games: Catching Fire
1     2476.5           52                       Iron Man 3
2     1774.2           19                           Frozen
3     2619.7           32                  Despicable Me 2
4     2120.6           42                     Man of Steel

In [256]:
import numpy as np

# Calculate the average # movies the actors featured in, as well as their average total gross

dir_list = []
for i in range(len(merged2)):
    #for each of the actors in a given movie, sum up their total gross & movies
    gross_list = []
    nmovies_list = []
    if (merged2.directors[i] == 0) or (merged2.directors[i] == []):
        dir_gross, dir_nmovies = 0, 0
    else:
        director_count = len(merged2.directors[i])
        for directoriter in merged2.directors[i]:
            if director_df[director_df.director == directoriter].empty:
                director_count -= 1
            #Subtract the movie total gross (movie i want to predict) from actor total gross
            else:
                gross_list.append(director_df[director_df.director == directoriter].
                                  dir_gross.iloc[0] - \
                merged2.tot_gross[i]/(1e6))
                nmovies_list.append(director_df[director_df.director == directoriter]
                                    .dir_nmovies.iloc[0])
    #take the sum and average over number of actors featured
    if (director_count <= 0) or (merged2.directors[i] == []) or (merged2.directors[i] == 0):
        dir_gross, dir_nmovies = 0, 0
    else:
        dir_gross = round(max(gross_list),1)
        dir_nmovies = round(max(nmovies_list),1)
    dir_dict = {'movie': merged2.movie[i], 'dir_gross':dir_gross, 
                'dir_nmovies': dir_nmovies}
    dir_list.append(dir_dict)
director_metric = pd.DataFrame(dir_list)

In [261]:
#merged2[merged2.movie == "Gravity"]
#director_df[director_df.director == "Alfonso Cuaron"]
len(merged2[merged2.directors == 0])
len(merged2[merged2.actors == 0])

#There are 38 ~ 39 movies with no directors/actors

38

# Merge the director & actor metrics to df

In [262]:
merged2 = pd.merge(merged2, actor_metric, on="movie", how="inner")
merged2 = pd.merge(merged2, director_metric, on="movie", how="inner")
merged2.drop(["actors","directors"],1)
merged2.head()

,movie_name,movie,op_gross,est_tick,date_time,theaters,tot_gross,actors,directors,imdb,...,year,Yviews_adj,Ylikes_adj,Ydis_adj,Ycom_adj,tick,act_gross,act_nmovies,dir_gross,dir_nmovies
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,158074286,19443331,2013-11-22,4163,424668047,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],7.5,...,2013,5934468.0,24922.0,663.0,4547.0,8.13,3333.4,56,1056.5,7
1,Iron Man 3,Iron Man 3,174144585,21419998,2013-05-03,4253,409013994,"[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black],7.2,...,2013,1058755.0,5984.0,215.0,1365.0,8.13,2476.5,52,40.5,3
2,Frozen,Frozen,243390,29937,2013-11-22,1,400738009,"[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]",7.5,...,2013,4180616.0,6607.0,1057.0,910.0,8.13,1774.2,19,230.0,3
3,Despicable Me 2,Despicable Me 2,83517315,10272732,2013-07-03,3997,368061265,"[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]",7.4,...,2013,5956633.0,13696.0,1336.0,1655.0,8.13,2619.7,32,852.1,4
4,Man of Steel,Man of Steel,116619362,14344324,2013-06-14,4207,291045518,"[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder],7.1,...,2013,32225959.0,117285.0,4916.0,50259.0,8.13,2120.6,42,1028.6,8

In [265]:
merged2.to_pickle("merged2.pkl")

In [264]:
merged2 = merged2.drop(["actors","directors"],1)
merged2.columns

Index(['movie_name', 'movie', 'op_gross', 'est_tick', 'date_time', 'theaters',
       'tot_gross', 'imdb', 'metacritic', 'rated', 'rotten_tomatoes',
       'runtime', 'year', 'Yviews_adj', 'Ylikes_adj', 'Ydis_adj', 'Ycom_adj',
       'tick', 'act_gross', 'act_nmovies', 'dir_gross', 'dir_nmovies'],
      dtype='object')